<ion-header>
  <ion-toolbar>
    <ion-title>MenuApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-label>producto</ion-label>
    </ion-item>
  
    <ion-card-content>
      descripcion
    </ion-card-content>

    <ion-item>
      <ion-button fill="outline" slot="end">Agregar</ion-button>
    </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <ion-label>producto</ion-label>
  </ion-item>

  <ion-card-content>
    descripcion
  </ion-card-content>

  <ion-item>
    <ion-button fill="outline" slot="end">Agregar</ion-button>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <ion-label>producto</ion-label>
  </ion-item>

  <ion-card-content>
    descripcion
  </ion-card-content>

  <ion-item>
    <ion-button fill="outline" slot="end">Agregar</ion-button>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <ion-label>producto</ion-label>
  </ion-item>

  <ion-card-content>
    descripcion
  </ion-card-content>

  <ion-item>
    <ion-button fill="outline" slot="end">Agregar</ion-button>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <ion-label>producto</ion-label>
  </ion-item>

  <ion-card-content>
    descripcion
  </ion-card-content>

  <ion-item>
    <ion-button fill="outline" slot="end">Agregar</ion-button>
  </ion-item>
</ion-card>

</ion-content>
