
<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
       AppResto 
  
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Sushi</ion-title>
      </ion-toolbar>
    </ion-header>
  
   
  <ion-card>
      
    
      <ion-card-content>
        Usuario
        <ion-input placeholder="Introduzca nombre de usuario" type="text">
        
        </ion-input>
      </ion-card-content>
      
      <ion-card-content>
        Contraseña
        <ion-input placeholder="Introduzca contraseña" type="password">
        
        </ion-input>
      </ion-card-content>
  
      
  
      <ion-item>
        <ion-button fill="outline" slot="end">Ingresar</ion-button>
      </ion-item>
  </ion-card>
  
  
  
    
    
    
    
  </ion-content>
  
