



<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     AppResto 

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sushi</ion-title>
    </ion-toolbar>
  </ion-header>

 
<ion-card>
    
  
    <ion-card-content>
      Usuario
    </ion-card-content>
    <ion-input placeholder="placeholder" type="text"></ion-input>

    <ion-card-content>
      Contraseña
    </ion-card-content>

    <ion-item>
      <ion-button fill="outline" slot="end">Ingresar</ion-button>
    </ion-item>
</ion-card>



  
  
  
  
</ion-content>