<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="">
    <ion-label >Hola {{nUsuario.usuario}}</ion-label>
  </div>

  <ion-card>
    <ion-item>
      <ion-label>Ají de gallina con arroz graneado</ion-label>
    </ion-item>

    <ion-card-content>

      Porción para 1 persona – 350 gr
      ***No puedes dejar de comer esta deliciosa receta tradicional.
      <img src="assets/img/aji-de-gallina.jpg" alt="">
    </ion-card-content>

    <ion-item>
      <ion-button fill="outline" slot="end">Agregar</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Cerdito a la mostaza con puré rustico</ion-label>
    </ion-item>

    <ion-card-content>
      Porción para 1 persona – 350 gr

      ***Si te gusta el cerdo, ¡este será tu favorito!
      <img src="assets/img/Cerdo-a-la-Mostaza.jpg" alt="">
    </ion-card-content>

    <ion-item>
      <ion-button fill="outline" slot="end">Agregar</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Filete de Salmón Dorado (Para dos)</ion-label>
    </ion-item>

    <ion-card-content>
      Plato para dos personas de salmón con acompañamiento seleccionable. Una genial opción.
      <img src="assets/img/Filete-de-Salmon-Dorado.jpg" alt="">
    </ion-card-content>

    <ion-item>
      <ion-button fill="outline" slot="end">Agregar</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Medallón de Filete de Res</ion-label>
    </ion-item>

    <ion-card-content>
      Dos medallones de excelente filete premium y el acompañamiento a elección.
      Un rico plato de solo calentar y disfrutar.
      <img src="assets/img/Medallon-de-Filete-de-Res.jpg" alt="">
    </ion-card-content>

    <ion-item>
      <ion-button fill="outline" slot="end">Agregar</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Medallón de Pavo Relleno (Para dos)</ion-label>
    </ion-item>

    <ion-card-content>
      Dos porciones de medallón de pavo relleno, acompañados con salsa oporto y el acompañamiento que elijas.
      Convierte una comida para dos en una ocasión especial con este plato.
      <img src="assets/img/Medallon-de-Pavo-Relleno.jpg" alt="">
    </ion-card-content>

    <ion-item>
      <ion-button fill="outline" slot="end">Agregar</ion-button>
    </ion-item>
  </ion-card>

</ion-content>




  
  