
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Sushi Daily 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sushi Daily</ion-title>
    </ion-toolbar>
  </ion-header>
 
<ion-card>
<H5>Todo listo para que te olvides de la cocina durante 5 días.
  Comida casera a domicilio. Elige lo que más te gusta y nosotros lo llevamos. 
  Ofertas especiales todos los días. Ensaladas. Postres.</H5>
</ion-card>

<img src="assets/img/comida1.jpg" alt="">
  
</ion-content>

<!-- Round -->
  <ion-button fill="outline" slot="end" [routerLink]="['/login']">Continuar</ion-button>



  
  